*{
    box-sizing: border-box;
}

body{
    background-color: pink;
    font-family:  'Anton', sans-serif;;
}
.nav-bar{
    overflow: hidden;
    background-color: lightpink;
    padding: 10px;
}

.nav-bar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar .search-container{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar img{
    float: left;
}

form{
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input{
    all: unset;
    font: 15px;
    color:black;
    height: 100%;
    width:100%;
    padding:6px 9px;
}

.thumbnail{
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.col{
    float: left;
    width: 25%;
    padding: 10px 10px; 
}

.card{
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: white;
}